.welcome-inputs-results-container{
    display: flex;
    flex-direction: column;
    //background-color: rgb(221, 221, 221);
    min-height: 504px;
    width: 100%;    
}
.welcome-header-container{
    width: 100%;
}
.welcome-date-picker-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
// que locura 
.welcome-date-picker-container .cds--date-picker--range, 
.welcome-date-picker-container .cds--date-picker--range .cds--date-picker-container, 
.welcome-date-picker-container .cds--date-picker--range .cds--date-picker__input {
    width: 100% !important;
}

.global-inputs-containers4{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 0.7rem;
    margin-top: 3rem;
    //background-color: lightsteelblue;
}
.secondary-block-middle-form2{
    margin-bottom: 0.2rem;
}

.welcome-date-picker-container{
    margin-bottom: 0.2rem;

}

.carbon-donut-chart-wrapper {
    background-color: #FFFFFF;
  }
  
  .carbon-chart-title {
    fill: #003B5C;
  }
  
  .carbon-chart-axis-title {
    fill: #003B5C;
  }
  
  .carbon-chart-axis-tick-label {
    fill: #003B5C;
  }
  

///////////////////////////RESPONSIVE///////////////////////
@media (max-width: 1100px) {

    .welcome-inputs-results-container{
        width: 100%;
    }


  }