////////////////////////////MAIN CONTAINER//////////////////////////////
.motorbike-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //background-color: rgb(221, 221, 221);
    min-height: 490px;
    width: 100%;
}
////////////////////////////BLOCK 1 INPUTS /////////////////////////////

.motorbike-inputs-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    //background-color: rgb(216, 42, 132);
}
.motorbike-mileage-container  {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin-top: -0.3rem;
    //background-color: #b397d7;
}
.motorbike-block-middle-form{
    min-width: 33%;
    font-size: 16px;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    //background-color: aqua;
}
.motorbike-button-container{
    width: 100%;
    //background-color: darkblue;
}
.motorbike-calculate-footprint-button{
    padding:0;
    min-width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center ;
}
.motorbike-calculator-icon{
    margin-left: 0.7rem;
}
///////////////////////////////BLOCK 2 RESULTS/////////////////////////
.motorbike-results-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    //background-color: lawngreen;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}
.motorbike-results-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    ////background-color: rgb(48, 82, 82);
}
.motorbike-results-container-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.448);
    width: 100%;
    ////background-color: rgb(48, 82, 82);
}
.motorbike-result-section{
    width: 100%;
    max-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2rem;
    padding-left: 1rem;
    ////background-color: rgba(31, 56, 56, 0.747);
}
.motorbike-result-trashcan-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: 0.5rem;
    padding: 1;
    max-height: 2.5rem;
    max-width: 2.5rem;
    ////background-color: crimson;
}
.motorbike-results{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 48px;
    border: 2px solid rgb(169, 169, 169);
    font-size: 20px;
    //background-color: rgb(77, 52, 77);
}
///////////////////////////BLOCK 3 VISUALIZATION///////////////////////
.motorbike-visualization-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    //background-color: rgb(52, 190, 202);
}
.motorbike-datavisual-container{
    width: 100%;
    //background-color: rgba(227, 209, 6, 0.891);
}
///////////////////////////RESPONSIVE///////////////////////
@media (max-width: 1100px) {
    .motorbike-main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ////background-color: rgb(221, 221, 221);
        width: 100%;
    }
    .motorbike-inputs-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        ////background-color: rgb(216, 42, 132);
    }
    .motorbike-results-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        ////background-color: lawngreen;
    }
    .motorbike-visualization-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        ////background-color: rgb(52, 190, 202);
    }
    .motorbike-results{
        font-size: 16px;
    }
  }

































