////////////////////////////MAIN CONTAINER//////////////////////////////
.house-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(221, 221, 221);
    height: 490px;
    width: 100%;
}
////////////////////////////BLOCK 1 INPUTS /////////////////////////////
.house-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 3rem;
    min-height: 48px;
    background-color: #1d2e24c5;
}
.house-number-people{
    max-width: 5rem;
    font-size: 16px;
    ////background-color: #f2f2ee;
}
.house-inputs-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    //background-color: rgb(216, 42, 132);
}
.house-button-container{
    width: 100%;
    //background-color: darkblue;
}
/////////////////////////BLOCK 1 INPUTS COMPONENTS//////////////////////
.house-electricity-container  {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.7rem;
    //background-color: #b397d7;
}
.house-block-middle-form{
    max-width: 33%;
    min-width: 33%;
    font-size: 16px;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    //background-color: aqua;
}
.house-calculate-footprint-button{
    padding:0;
    min-width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center ;
}
.house-calculator-icon{
    margin-left: 0.7rem;
}
///////////////////////////////BLOCK 2 RESULTS/////////////////////////
.house-results-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    //background-color: lawngreen;
}
.house-result-section{
    width: 100%;
    max-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2rem;
    padding-left: 1rem;
    ////background-color: rgba(31, 56, 56, 0.747);
}
.house-result-trashcan-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: 0.5rem;
    padding: 1;
    max-height: 2.5rem;
    max-width: 2.5rem;
    ////background-color: crimson;
}
.house-results-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.448);
    width: 100%;
    ////background-color: rgb(48, 82, 82);
}
.house-results{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 48px;
    border: 2px solid rgb(169, 169, 169);
    font-size: 20px;
    //background-color: rgb(77, 52, 77);
}
///////////////////////////BLOCK 3 VISUALIZATION///////////////////////
.house-visualization-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    //background-color: rgb(52, 190, 202);
}
.house-datavisual-container{
    width: 100%;
    //background-color: rgba(227, 209, 6, 0.891);
}

///////////////////////////RESPONSIVE///////////////////////
@media (max-width: 1100px) {
    .house-main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ////background-color: rgb(221, 221, 221);
        width: 100%;
    }
    .house-inputs-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        ////background-color: rgb(216, 42, 132);
    }
    .house-results-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        ////background-color: lawngreen;
    }
    .house-visualization-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        ////background-color: rgb(52, 190, 202);
    }
    .house-results{
        font-size: 16px;
    }
  }
