////////////////////////////MAIN CONTAINER//////////////////////////////
.results-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //background-color: rgb(221, 221, 221);
    min-height: 490px;
    width: 100%;
}
////////////////////////////BLOCK 1 CHECKMARK //////////////////////////
.results-header-checkmark {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 48px;
    //background-color: #2033dec5;
}
.results-checkmark-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    //background-color: rgb(216, 42, 132);
}
.results-checkmark-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 3rem;
    //background-color: rgba(250, 142, 1, 0.875);
}
.results-button-container{
    width: 100%;
    //background-color: firebrick;
}
.cbx {
    transform: scale(1.2);
    margin-left: 4rem;
}
////////////////////////////BLOCK 1 VISUALIZATION //////////////////////
.results-visualization-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    //background-color: aqua;
}
.results-calculate-footprint-button{
    padding:0;
    min-width:100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center ;
}
.results-header-visualization {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 48px;
    //background-color: #12eaa6ef;
}

///////////////////////////RESPONSIVE///////////////////////
@media (max-width: 1100px) {
    .results-main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .results-checkmark-block{
        width: 100%;
    }
    .results-visualization-block{
        width: 100%;
    }
    .results-checkmark-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0rem;
        //background-color: rgba(250, 142, 1, 0.875);
    }
  }

























